@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --Fmin:16px;
    --deltaF:calc(20 - 16);
    --Smin:365px;
    --deltaS:calc(1920 - 365);
    font-size:calc(var(--Fmin) + var(--deltaF) * (100vw - var(--Smin)) / var(--deltaS));
}

*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body{
    background-color:rgb(185, 176, 176);
}

header{
    text-align: center;
    margin-top:1em;
}

input, label{
    display:block;
}

input{
    border:1px solid black;
    padding:0.2em;
    border-radius: 0.4em;    
}

input:focus{
    outline: none;
}


input.green-outline:focus{
    box-shadow:0 0 10px green !important;
 
}




.errors{
    color:red;
    visibility: hidden;
    font-size: 0.7em;

}

.final-error{
    visibility: visible;
    font-size: 1em;
    text-align: center;
    display:none;
}

#graph-values{
    margin: 0 auto;
    width:10em;

    .headings{
        font-weight: bold;
        font-size: 0.9em;
    }

    input{
        width:100%;
        font-size: 0.8em;
    }

    div{
        margin: 0.7em 0;
    }

    #number-of-entities-error{
        visibility: visible;
        margin-top: 0;

        label{
            display: none;
        }
    }
}



#xy-values-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    font-size:1.5rem;
        
    .xy-values{
        border-radius: 0.4em;
        margin:0.5em;
        padding:0.5em 0.5em 0 0.5em;
        background-color: rgb(43, 42, 42);
        display:none;

        input{
            font-size:0.5em;
            width:12em;

        }


        input:nth-child(3){
            margin-top:1em;
        }

        .errors{
            font-size:0.5em;
            font-weight: bold;
        }
        
    }

}
    

#generate-graph{
    margin:1em;
    display:none;
    text-align: center;

    button{
        padding:1em;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 0.4em;
        font-size: 0.8em;

    }

    button:hover{
        color:white;
        background-color: black;

    }
}

#graph-container{
    display:none;
    flex-wrap: wrap;

    #title{
        width:100%;
        text-align: center;
        margin-bottom:1em;
    }

    #y-axis{
        width:10%;
        display:flex;
        justify-content: center;
        align-items: center;

        div{
            text-align: center;

            h2{
                transform: rotate(-90deg);
            }
        }


    }

    #graph{
        width:90%;
        border:5px solid black;
        border-right:none;
        border-top:none;
        height:200px;
        display:flex;
        justify-content: space-around;
        align-items:flex-end;
        
        .bar{
            position: relative;
            background-color: rgb(27, 179, 27);
            text-align: center;
        }

        .bar-value{
            position: relative;
            bottom:1.1em;

        }

    }

    #x-axis{
        width:100%;

        #x-components{
            position:relative;
            left: 10%;
            display:flex;
            justify-content: space-around;
            width:90%;

            .x-component{
                text-align: center;
                overflow-x: auto;
            }
        }

        #x-axis-name{
            text-align: center;
        }

    }

}