
*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

header{
    text-align: center;
}

input{
    border:1px solid black;
     
}

input:focus{
    outline: #4c5baf solid 1px;
}

.errors{
    color:red;
    visibility: hidden;
    font-size: 0.7em;

}

.final-error{
    visibility: visible;
    font-size: 1em;
    text-align: center;
    display:none;
}

#graph-values{
    margin: 0 auto;
    width:190px;

    input{
        width:100%;
    }

    div{
        margin: 10px 0px;
    }

    #add-remove{
        text-align: center;

        i{
            border: 1px solid black;
            padding:3px;
        }

    }
}

#xy-values-container{
    display:flex;
    flex-wrap: wrap;
        
    .xy-values{
        margin:5px 5px;
        padding: 15px 10px 0px 10px;
        background-color: grey;
        display:none;
        
        input{
            margin-bottom:5px;
            width:150px;
        }
    
    }

    #add-remove{
        display:none;
        height:90px;
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px 0px;
               
        i{
            border: 1px solid black;
            padding:3px;
        }

        i:hover{
            color:white;
            background-color: black;
        }
    }

}
    

#generate-graph{
    padding:15px;
    display:none;
    text-align: center;

    button{
        padding:8px;
        font-weight: bold;
        border: 1px solid black;

    }

    button:hover{
        color:white;
        background-color: black;

    }
}

#graph-container{
    display:none;
    flex-wrap: wrap;

    #title{
        width:100%;
        text-align: center;
    }

    #y-axis{
        width:15%;
        display:flex;
        flex-direction: column;
        justify-content: center;

        div{
            text-align: center;

            h2{
          
                right:5px;
                transform: rotate(-90deg);
            }
        }


    }

    #graph{
        width:85%;
        border:5px solid black;
        border-right:none;
        border-top:none;
        height:200px;
        display:flex;
        justify-content: space-around;
        align-items:flex-end;
        
        .bar{
            position: relative;
            background-color: green;
            display:flex;
            justify-content: center;
        }

        .bar-value{
            position: relative;
            bottom:15px;

        }

    }

    #x-axis{
        width:100%;

        #x-components{
            position:relative;
            left: 15%;
            display:flex;
            justify-content: space-around;
            width:85%;

            .x-component{
                text-align: center;
                overflow-x: auto;
            }
        }

        #x-axis-name{
            text-align: center;
        }

    }

}